/* The 16-column Deco Grid System for fixed width of 950px:
 * Cells are 50.0px (5.26315789474%), margin will be 10px (1.05263157895%).
 * Portal left/right margin is 0dpx (0.0%).
 */

div.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
div.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes */

div.width-1 { width: 5.2632%; }
div.width-2 { width: 11.5789%; }
div.width-3 { width: 17.8947%; }
div.width-4 { width: 24.2105%; }
div.width-5 { width: 30.5263%; }
div.width-6 { width: 36.8421%; }
div.width-7 { width: 43.1579%; }
div.width-8 { width: 49.4737%; }
div.width-9 { width: 55.7895%; }
div.width-10 { width: 62.1053%; }
div.width-11 { width: 68.4211%; }
div.width-12 { width: 74.7368%; }
div.width-13 { width: 81.0526%; }
div.width-14 { width: 87.3684%; }
div.width-15 { width: 93.6842%; }
div.width-16 { width: 100.0000%; }

/* Positioning classes, these are subtracting from a rightmost position,
 * which is why they seem the wrong way around */

div.position-0 { margin-left: -100.0000%; }
div.position-1 { margin-left: -93.6842%; }
div.position-2 { margin-left: -87.3684%; }
div.position-3 { margin-left: -81.0526%; }
div.position-4 { margin-left: -74.7368%; }
div.position-5 { margin-left: -68.4211%; }
div.position-6 { margin-left: -62.1053%; }
div.position-7 { margin-left: -55.7895%; }
div.position-8 { margin-left: -49.4737%; }
div.position-9 { margin-left: -43.1579%; }
div.position-10 { margin-left: -36.8421%; }
div.position-11 { margin-left: -30.5263%; }
div.position-12 { margin-left: -24.2105%; }
div.position-13 { margin-left: -17.8947%; }
div.position-14 { margin-left: -11.5789%; }
div.position-15 { margin-left: -5.2632%; }

/* Convenience classes. Not strictly necessary. */
div.width-full { width: 100.0000%; }

div.width-1\3a 2 { width: 49.4737%; }
div.position-1\3a 2 { margin-left: -49.4737%; }

div.width-1\3a 3 { width: 32.6316%; }
div.width-2\3a 3 { width: 66.3158%; }
div.position-1\3a 3 { margin-left: -66.3158%; }
div.position-2\3a 3 { margin-left: -32.6316%; }

div.width-1\3a 4 { width: 24.2105%; }
div.width-2\3a 4 { width: 49.4737%; }
div.width-3\3a 4 { width: 74.7368%; }
div.position-1\3a 4 { margin-left: -74.7368%; }
div.position-2\3a 4 { margin-left: -49.4737%; }
div.position-3\3a 4 { margin-left: -24.2105%; }

div.width-1\3a 5 { width: 19.1579%; }
div.width-2\3a 5 { width: 39.3684%; }
div.width-3\3a 5 { width: 59.5789%; }
div.width-4\3a 5 { width: 79.7895%; }
div.position-1\3a 5 { margin-left: -79.7895%; }
div.position-2\3a 5 { margin-left: -59.5789%; }
div.position-3\3a 5 { margin-left: -39.3684%; }
div.position-4\3a 5 { margin-left: -19.1579%; }

div.width-1\3a 6 { width: 15.7895%; }
div.width-2\3a 6 { width: 32.6316%; }
div.width-3\3a 6 { width: 49.4737%; }
div.width-4\3a 6 { width: 66.3158%; }
div.width-5\3a 6 { width: 83.1579%; }
div.position-1\3a 6 { margin-left: -83.1579%; }
div.position-2\3a 6 { margin-left: -66.3158%; }
div.position-3\3a 6 { margin-left: -49.4737%; }
div.position-4\3a 6 { margin-left: -32.6316%; }
div.position-5\3a 6 { margin-left: -15.7895%; }

